---
---
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        {% if page.title %}
        <title>{{page.head_title|default: page.title }} | {{ site.config.name }}</title>
        {% else %}
        <title>{{ site.config.name }}</title>
        {% endif %}
        <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="{{ site.config.name }}"/>
        <link rel="stylesheet" href="/assets/css/main.css">

        <meta name="author" content="{{site.config.author}}">
        <meta property="og:article:author" content="{{ site.config.author }}">
        <meta property="og:site_name" content="{{ site.config.name }}">

        {% if page.title %}
        <meta property="og:title" content="{{ page.title|default: site.config.name }}">
        <meta name="twitter:title" content="{{ page.title|default: site.config.name }}">
        {% endif %}

        {% if page.excerpt or site.config.description %}
        <meta name="description" content="{{ page.excerpt | default:site.config.description }}">
        <meta name="og:description" content="{{ page.excerpt | default:site.config.description }}">
        <meta name="twitter:description" content="{{ page.excerpt | default:site.config.description }}">
        {% endif %}

        {% if page.layout == "post" %}
        <meta property="og:type" content="article">
        <meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}">
        <meta property="og:url" content="{{ page.url | absolute_url }}">
        <link rel="canonical" href="{{ page.url | absolute_url }}">
        {% else %}
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ page.url | absolute_url }}">
        <link rel="canonical" href="{{ page.url | absolute_url  }}">
        {% endif %}

        {% if page.image != "" %}
        <meta property="og:image" content="{{ page.image | absolute_url }}">
        <meta name="twitter:image" content="{{ page.image | absolute_url }}">
        {% endif %}

    </head>
    <body>
        <div class="content">
            {{ content }}
        </div>
    </body>
</html>
